/* table {
   max-width: 100%;
   border-collapse: collapse;
   border: none;
   background-color: #ffffffbf;
   margin: 3px;
   border-radius: 0.5rem;


}

table th,
table td {
   padding: 8px 12px;
   border: none;
   text-align: left;
}

table th {
   background-color: #ffffffbf;
}


.admin-dashboard {
   padding-bottom: 5vh;
   display: flex;
   justify-content: center;
   flex-direction: column;

}

.page-btn {
   width: 15px;
   display: inline-flex;
   justify-content: center;
   margin: 5px;
   padding: 0.2rem 0.8rem !important;

}

/* Mobile styles */
/* @media (max-width: 600px) {

   .admin-dashboard {
      padding-bottom: 5vh !important;
   }

   table thead {
      display: none;
   }

   table tr {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
   }

   table td {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      position: relative;
   }

   table td:before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: capitalize;
   }

   table td.username,
   table td.email,
   table td.role {
      display: flex;
      justify-content: space-between;
   }

   table td.createdAt,
   table td.actions {
      flex-basis: 100%;
   }

   table tr td:last-child {
      border-bottom: none;
   }

   .delete-user-btn {
      width: 14vw;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      margin: 0;
   }


} */