/* Container for the Register form */
.form-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   color: white;
   max-width: 600px;
   width: 80vw;
   max-height: 100%;
   margin: 50px auto;
   padding: 20px;

   border-radius: 15px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
   box-shadow: none !important;

}

.user-info {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}

.change-password-form {
   margin-top: 2rem;
   width: 100%;
   max-width: 350px;
   box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.1);

   padding: 10px;
   border-radius: 5px;
}

/* Title of the form */
.form-container h2 {
   color: white;
   margin-bottom: 20px;
   font-size: 1.6rem;
   text-align: left;
}

/* input fields Labels */
.form-container label {
   display: block;
   margin-bottom: 10px;
   color: white;
   font-weight: bold;
   font-size: 1rem;
}

/* Input fields styling */
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {

   width: calc(100% - 22px);
   padding: 10px;
   border: 2px solid #ffd1bd;
   border-radius: 10px;
   font-size: 1rem;
   background-color: #fff;
   box-sizing: border-box;
}

/* Focus state for input fields */
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
   border-color: rgb(0, 0, 0);
   outline: none;
}

/* form button styling */
.form-container button[type="submit"],
.logout-button {
   background-color: rgb(255, 255, 255);
   color: black;
   padding: 10px 20px;
   margin-top: 10px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   font-size: 1.2rem;
   width: 100%;
   transition: background-color 0.3s;
   margin-bottom: 15px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   max-width: 150px;
   transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.change-password-btn {
   background-color: #f6b89ea0 !important;
   font-size: 1rem !important;
   padding: 10px !important;
   border: solid 1px #ffd1bda2 !important;
   transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.change-password-btn:hover {
   background-color: #f6b89e !important;
   border: solid 1px #ffd1bd72 !important;
}

.change-password-btn span {
   transition: transform 0.5s ease-in-out;
}

.change-password-btn:hover span {
   transform: scale(1.2);
}

.logout-button {
   margin-top: 1rem;
}


/* Hover effect for the button */
.form-container button[type="submit"]:hover,
.logout-button:hover {
   background-color: rgb(0, 0, 0);
   color: white;
}




.password-field-container {
   display: flex;
   margin-bottom: 15px;
   /* background-color: red; */
   flex-direction: column;
   align-items: flex-start;
}

.password-input-group {
   width: 100%;
   display: flex;
   justify-items: center;
   align-items: center;
}


.toggle-password-visibility {
   min-width: 40px;
   margin-left: 2px;
   padding: 2px;
   font-size: 14px;
   cursor: pointer;
   background-color: #007bff00;
   color: white;
   border: none;
   border-radius: 4px;
}

.toggle-password-visibility:hover {
   background-color: #00000017;
}

/*--------------Admin dashboard---------*/


/* General table styling */
table {
   max-width: 100%;
   border-collapse: collapse;
   border: none;
   background-color: #ffffffbf;
   margin: 3px;
   border-radius: 0.5rem;


}

table th,
table td {
   padding: 8px 12px;
   border: none;
   text-align: left;
}

table th {
   background-color: #ffffffbf;
}


.admin-dashboard {
   padding-bottom: 5vh;
   display: flex;
   justify-content: center;
   flex-direction: column;

}

.page-btn {
   width: 15px;
   display: inline-flex;
   justify-content: center;

}

/* Mobile styles */
@media (max-width: 600px) {

   .admin-dashboard {
      padding-bottom: 5vh !important;
   }

   /* Hide table headers on mobile */
   table thead {
      display: none;
   }

   /* Display each row as a block */
   table tr {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
   }

   /* Make table cells display in flexbox with rows stacked */
   table td {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      position: relative;
   }

   /* Add labels before the cell content */
   table td:before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: capitalize;
   }

   /* Style for username, email, and role in one row */
   table td.username,
   table td.email,
   table td.role {
      display: flex;
      justify-content: space-between;
   }

   /* Created at and Actions on a new row */
   table td.createdAt,
   table td.actions {
      flex-basis: 100%;
   }

   /* Remove border for last item */
   table tr td:last-child {
      border-bottom: none;
   }

   .delete-user-btn {
      width: 14vw;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      margin: 0;
   }


}