form {
   display: flex;
   align-items: center;
   flex-direction: column;
}

/* Container for the Register form */
.form-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   color: black;
   max-width: 600px;
   width: 80vw;
   max-height: 100%;
   margin: 50px auto;
   padding: 20px;
   background-color: #ffffffe4;

   border-radius: 15px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-container {
   background-color: #ffffff;
   padding: 2rem;
   margin: 10px auto;

}

.user-info {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}

.change-password-form {
   display: flex;
   margin-top: 2rem;
   width: 100%;
   max-width: 350px;
   box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.1);
   padding: 10px;
   border-radius: 5px;
   flex-direction: column;
   align-items: center;
   background: linear-gradient(180deg, #ffd3b2 0%, #ffb99b 60%, #ae6c4f 100%);

}

/* Title of the form */
.form-container h2 {
   color: black;
   margin-bottom: 20px;
   font-size: 1.6rem;
   text-align: left;
}

/* input fields Labels */
.form-container label {
   width: 100%;
   color: rgba(0, 0, 0, 0.514);
   font-size: 1rem;
   font-style: italic;
   text-align: left;

}

/* Input fields styling */
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea {

   width: 100%;
   padding: 10px;
   margin: 0.5rem 0 1rem 0;
   border: 2px solid #ffeee600;
   border-radius: 10px;
   font-size: 1rem;
   background-color: #fff;
   box-sizing: border-box;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.31);

}

/* Focus state for input fields */
.form-container input[type="text"]:focus,
.form-container input[type="email"]:focus,
.form-container input[type="password"]:focus {
   border-color: rgb(0, 0, 0);
   outline: none;
}

/* form button styling */
.form-container button[type="submit"],
.logout-btn {
   background-color: rgb(255, 255, 255);
   color: black;
   padding: 10px 20px;
   margin-top: 10px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   font-size: 1.2rem;
   width: 100%;
   transition: background-color 0.3s;
   margin-bottom: 15px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   max-width: 150px;
   transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.change-password-btn {
   background-color: #f6b89ea0 !important;
   font-size: 1rem !important;
   padding: 10px !important;
   border: solid 1px #ffd1bda2 !important;
   transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.change-password-btn:hover {
   background-color: #f6b89e !important;
   border: solid 1px #ffd1bd72 !important;
}

.change-password-btn span {
   transition: transform 0.5s ease-in-out;
}

.change-password-btn:hover span {
   transform: scale(1.2);
}

.logout-btn {
   margin-top: 1rem;
}

.exit-btn {
   width: 3vh;
   height: 3vh;
   display: inline-flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   align-self: flex-end;
}


/* Hover effect for the button */
.form-container button[type="submit"]:hover,
.logout-btn:hover {
   background-color: rgb(0, 0, 0);
   color: white;
}




.password-field-container {
   display: flex;
   margin-bottom: 15px;
   /* background-color: red; */
   flex-direction: column;
   align-items: flex-start;
}

.password-input-group {
   position: relative;
   /* This allows absolute positioning inside the container */
   width: 100%;
}

.password-input-group input {
   width: 100%;
   padding-right: 40px;
   /* Make space for the button inside the input */
}

.toggle-password-visibility {
   width: 30%;
   position: absolute;
   right: 5px;
   top: 32%;
   transform: translateY(-50%);
   background-color: transparent;
   color: black;
   border: none;
   font-size: 0.9rem;
   cursor: pointer;
   padding: 0.2rem;
   transition: color 0.5s ease, background-color 0.5s ease, font-weight 0.7s;
   ;
}


.hide-mode {
   color: white;
   background-color: black;
}

.show-mode {
   color: black;
   background-color: white;
}

.toggle-password-visibility:hover {
   background-color: #c0634e;
   color: white;
   font-weight: bold;
}