.logs-container {
   width: 100vw;
   height: 100%;
   border-radius: 15px;
}

.welcome-message {
   position: absolute;
   top: 20px;
   left: 20px;
   font-size: 1.3em;
   color: #8465ff;
   font-weight: bold;
}

.btn {
   display: inline-block;
   padding: 10px 20px;
   margin: 20px 0;
   background-color: #4e59e0;
   color: white;
   border: none;
   border-radius: 10px;
   text-decoration: none;
   font-size: 1rem;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
   background-color: #3e49b0;
}

.logs-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   border-radius: 15px;
}

.log-item {
   background-color: #ffffffe1;
   border: 1px solid #eeeded;
   border-radius: 5px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: left;
   position: relative;
   margin-bottom: 5px;
   max-width: 100%;
}

.log-item h3 {
   color: #0dba4f;
   margin-bottom: 10px;
}

.log-item p {
   margin: 5px 0;
}

.log-item button {
   background-color: transparent;
   border: none;
   color: #9fa6f8;
   cursor: pointer;
   font-size: 1rem;
   margin-right: 10px;
   transition: color 0.3s;
}

.log-item button:hover {
   color: #3e47a1;
}


.log-date-header {
   color: rgb(255, 255, 255);
}