.welcome-message {
   top: 20px;
   left: 20px;
   font-size: 1.5em;
   align-self: flex-start;
   font-weight: bold;
   padding: 1rem;
}

.logs-container {
   height: 100%;
   border-radius: 15px;
}

.logs-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   border-radius: 15px;
   max-width: 800px;
}

.log-item {
   display: flex;
   background-color: #ffffffe1;
   border: 1px solid #eeeded;
   border-radius: 5px;
   padding: 2rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: left;
   position: relative;
   margin-bottom: 5px;
   max-width: 100%;
}

.log-item .form-container {
   background-color: transparent;
   padding: 0;
   width: 100%;
   margin: auto;
   box-shadow: none;

}

.log-item p {
   margin: 5px 0;
}

.log-content {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.btn-container {
   display: flex;
   justify-content: space-between;
}