.profile-container {
   max-width: 400px;
   margin: 50px auto;
   padding: 20px;
   background: linear-gradient(180deg, #f6c39e 0%, #e9a7b5 100%);
   border-radius: 15px;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.logout-button {
   background-color: #4e59e0;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   font-size: 1.2rem;
   width: 100%;
   margin-top: 20px;
   transition: background-color 0.3s;
}

.logout-button:hover {
   background-color: #3e49b0;
}