@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   background: linear-gradient(180deg, #ffdbb2 0%, #f6b89e 60%, #cda5eb 100%);
 */
  background: linear-gradient(180deg, #ffd3b2 0%, #ffb99b 60%, #ae6c4f 100%);

  background-attachment: fixed;

}

/*--ADMIN DASHBOARD--*/
.admin-dashboard {
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-btn {
  width: 15px;
  display: inline-flex;
  justify-content: center;
  margin: 5px;
  padding: 0.2rem 0.8rem !important;
}


/*--CODE--*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}