.logs-container {
   text-align: center;
   padding: 20px;
}

.btn {
   display: inline-block;
   padding: 10px 20px;
   margin: 20px 0;
   background-color: #4e59e0;
   color: white;
   border: none;
   border-radius: 5px;
   text-decoration: none;
   font-size: 1rem;
}

.btn-primary:hover {
   background-color: #3e49b0;
}

.logs-list {
   margin-top: 20px;
}

.logs-item {
   margin: 20px 0;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
}